spring:
  profiles:
    active: local

  batch:
    # program arguments로 job name이 넘어오면, 해당 값과 일치하는 job만 실행하겠다는 의미
    job:
      # job.name이 있으면, job.name 값을 할당하고, 없으면 NONE을 할당하겠다는 의미
      # NONE이 할당되면, 어떤 배치도 실행하지 않겠다는 의미이다.
      # 즉, 혹시라도 값이 없을때 모든 배치가 실행되지 않도록 막는 역할이다.
      names: ${job.name:NONE}

--- # local
spring:
  config:
    activate:
      on-profile: local

  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password:
      driver-class-name: org.h2.Driver

--- # mysql
spring:
  config:
    activate:
      on-profile: mysql

  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:9020/spring_batch?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
      username: root
      password: example
      driver-class-name: com.mysql.cj.jdbc.Driver
